
JWT_ACCESS_TOKEN_SECRET=replace-with-strong-access-secret
JWT_REFRESH_TOKEN_SECRET=replace-with-strong-refresh-secret
JWT_ACCESS_TOKEN_TTL=15m
JWT_REFRESH_TOKEN_TTL=168h

DATA_DATABASE_DRIVER=mysql
DATA_DATABASE_SOURCE=root:password@tcp(127.0.0.1:3306)/test?parseTime=True&loc=Local
DATA_DATABASE_REDIS_ADDR=localhost:6379
DATA_DATABASE_REDIS_PASSWORD=password